*{margin: 0; padding: 0; box-sizing: border-box;}
ul,ol,li{list-style: none;}
a{text-decoration: none;}
.after::after{clear: both; content: ''; display: block;}


/*header*/
#header{width: 100%;}
#header .logo{margin: 0 auto; width: 120px;}
#header .logo img{width: 120px; height: 100px;}
#header .navi{width: 100%;}
#header ul.navi_list{width: 1180px; margin: 0 auto;}
#header ul.navi_list>li{width: 130px; float: left; line-height: 4; text-align: center;}
#header ul.navi_list>li:nth-of-type(6){float: right;}
#header ul.navi_list>li:nth-of-type(7){float: right;}
#header ul.navi_list>li>a{color: black; }

/*main*/

#main{width: 1180px; margin: 0 auto; padding-top: 100px;}
#main .main_img{width: 50%; height: 500px; float: left;}
#main .main_img img{width: 100%; height: 100%; }
#main .main_txt{width: 50%; height: 500px; float: left; padding: 20px;}

/*tab*/
#tab{width: 1180px; margin: 0 auto; padding-top: 100px;}
#tab .tab_list{width: 100%; height: 40px;}
#tab .tab_list li{display: inline-block; width: 200px;}

/*product_detail*/
#product_detail{padding-top:30px;}
#product_detail .inner{width: 1180px; margin: 0 auto;}
#product_detail .product_from {width: 100%; height: 500px;}
#product_detail .product_from img{width: 100%; height: 100%;}

/*related*/
#related{width:100%; margin: 0 auto; padding: 100px 0px}
#related .title{text-align: center; margin-bottom: 50px;}
#related .inner{position: relative; width: 1300px; margin: 0 auto; padding-bottom: 40px; }

#related .swiper-container{width: 1180px; height: 100%;}

#related .swiper-slide{width: 100%; height: 100%;}

#related .swiper-slide .pic{width: 100%; height: 100%;}
#related .swiper-slide .pic img{width: 100%;}
#related .swiper-slide .msg{}
#related .swiper-slide .msg .txt1{font: bold 16px '맑은 고딕';}
#related .swiper-slide .msg .txt2{font: 16px '맑은 고딕';}

#related .swiper-button-prev,
#related .swiper-button-next{transform: translateY(-40%);}
#related .swiper-pagination{position: absolute; left: 50%;bottom: 0; transform: translateX(-50%);}
#related .swiper-pagination-bullet{margin: 0 7px; }

/*recipe*/
#recipe {width: 1180px; margin: 0 auto;}
#recipe .title{text-align: center; font-size: 30px;margin: 40px 0;}
#recipe .recipe_list{}
#recipe .recipe_list li{width: 25%; height: 250px; float: left;}
#recipe .recipe_list li img{width: 100%; height: 100%;}